head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    title #{moduleCustom.decryptPriv(appName)} | #{title.split(' ')[0]}
    link(href='/assets/template/vendor/fontawesome-free/css/all.min.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
    link(href='/assets/template/css/sb-admin-2.min.css' rel='stylesheet')
    link(href='/assets/template/vendor/datatables/dataTables.bootstrap4.min.css' rel='stylesheet')
    style.
        table {
            width: 100%;
        }
        table tr {
            display: flex;
            justify-content: space-between
        }

        .modal-custom {
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background-color: rgba(0,0,0, .8);
            display: none;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
        }

        .modal-custom .spinner-border {
            width: 10rem;
            height: 10rem
        }
// Page Wrapper
#wrapper
    // Sidebar
    ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion(navbarActive=active).disableButton
        // Sidebar - Brand
        a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='index.html')
            .sidebar-brand-icon.rotate-n-15
                i.fas.fa-book-open
            .sidebar-brand-text.mx-3 #{moduleCustom.decryptPriv(appName).toUpperCase()}
        // Divider
        hr.sidebar-divider.my-0
        // Nav Item - Dashboard
        li.nav-item(name="dashboard")
            a.nav-link(href='/')
                i.fas.fa-fw.fa-tachometer-alt
                span.ml-1 Dashboard
        // Divider
        hr.sidebar-divider
        // Heading
        .sidebar-heading Data
        include navBar.pug
        // Divider
        hr.sidebar-divider.d-none.d-md-block
        // Sidebar Toggler (Sidebar)
        .text-center.d-none.d-md-inline
            button#sidebarToggle.rounded-circle.border-0
    // End of Sidebar
    // Content Wrapper
    #content-wrapper.d-flex.flex-column
        // Main Content
        #content
            // Topbar
            nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
                // Sidebar Toggle (Topbar)
                button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3
                    i.fa.fa-bars
                // Topbar Navbar
                ul.navbar-nav.ml-auto
                    li.nav-item.dropdown.no-arrow
                        a#userDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            span.mr-2.d-none.d-lg-inline.text-gray-600.small !{name}
                            .img-profile.rounded-circle.d-flex.justify-content-center.align-items-center(style=`background-color: #5a5c69`)
                                span !{name.slice(0,2)}                            
                            
                        // Dropdown - User Information
                        .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='userDropdown')
                            a.dropdown-item(href='/update')
                                i.fas.fa-user-edit.fa-sm.fa-fw.mr-2.text-gray-400
                                |                     Update                            
                            a.dropdown-item(href='/logout' data-toggle='modal' data-target='#logoutModal')
                                i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
                                |                     Logout
            // End of Topbar
            // Begin Page Content
            .container-fluid 
                .row
                    .col-sm-12
                        h3.mb-4.text-gray-800= title
                .row
                    if(dataOrder.length <= 0) 
                        h1.text-center No Transactions :)
                    else
                        .col-sm-12
                            -let already = [];
                            - let active = '';
                                form()
                                    .form-group
                                        label User: 
                                        select.form-control(name="user")
                                            each rows in dataOrder
                                                - const title = rows.dataValues.user_id.title;
                                                if(hello(title, already))
                                                    if(active.length == 0) 
                                                        -active += title
                                                    option(value=rows.dataValues.user_id.id)=title
                                                    -already.push(title)
                                    .form-group
                                        label Book :
                                        select.form-control(name="book")
                                            each rows in dataOrder
                                                - const title = rows.dataValues.book_id.title;
                                                if(rows.dataValues.user_id.title == active)
                                                    option(value=rows.dataValues.book_id.id, data-transaction=rows.dataValues.id_transaction, data-price=rows.dataValues.order_price, data-day=rows.dataValues.order_day, data-fines=rows.dataValues.book_id.fines, data-date=rows.dataValues.order_date)=title
                                                    -already.push(title)
                                    .form-group
                                        label Id Transaction
                                        input.form-control(readonly="readonly", value=dataOrder[0].dataValues.id_transaction, name="id_transaction")
                                    if(type === 'renew')
                                        .form-group
                                            label Day :
                                            input.form-control(type="number" name="day")

                        if(type === 'return')
                            .col-sm-12.mt-3
                                div.alert.alert-info#information(role="alert" style="width:100%").p-5
                                    h4.mb-5
                                        strong Information
                                    -const rows = dataOrder[0].dataValues
                                    table.mb-5
                                        tr 
                                            th Rental fee per day :
                                            td.fee=rows.order_price
                                        tr 
                                            th Length of time :
                                            td.feeDay !{rows.order_day} Day
                                        - let {days} = moduleCustom.getTime(rows.order_date, rows.order_day);
                                        - let denda = days * rows.book_id.fines
                                        - let fee = rows.order_price * rows.order_day;
                                        - let total = parseInt(fee) + parseInt(denda);
                                        tr  
                                            th how long it takes to return late :
                                            td.finesDay !{days} Day
                                        tr 
                                            th fines per day :
                                            td.fines=rows.book_id.fines
                                        tr
                                            th Fee + Fines :
                                            td.feeFInes #{rows.order_price * rows.order_day} + #{denda}

                                        tr
                                            th total :
                                            td.total
                                                strong.total.
                                                    RP. !{total}

                                    button.btn-sm.btn.btn-dark#buttonAction.d-block Pay now
                        else 
                            .col-sm-12 
                                button.btn-sm.btn.btn-dark#buttonAction.d-block Extend Now
        - function hello(value, without) {
            -   for (let e in without) {
            -       if(without[e].toLowerCase() == value.toLowerCase()) {
            -           return false
            -       } 
            -   }
            -   return true
        - }

            // /.container-fluid
            // End of Main Content
            // Footer
            footer.sticky-footer.bg-white
                .container.my-auto
                    .copyright.text-center.my-auto
                        span Copyright By #{moduleCustom.decryptPriv(appName)} 2021 | made with love 
                            i.fas.fa-heart
            // End of Footer
            // End of Content Wrapper
// End of Page Wrapper
// Scroll to Top Button
a.scroll-to-top.rounded(href='#page-top')
    i.fas.fa-angle-up
// Logout Modal
#logoutModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLabel.modal-title Ready to Leave?
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                | Select &quot;Logout&quot; below if you are ready to end your current session.
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal')
                    | Cancel
                a.btn.btn-dark(href='/logout') Logout
.modal-custom(style=`position="fixed"; width: "100%"; height: "100%"; background-color: "#666"`)
    .spinner-border.text-dark(role="status")
      span.sr-only Loading...


// Script Dasar
script(src='/assets/template/vendor/jquery/jquery.min.js')
script(src='/assets/template/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='/assets/template/vendor/jquery-easing/jquery.easing.min.js')
script(src='/assets/template/js/sb-admin-2.min.js')
script(src="/assets/template/vendor/datatables/jquery.dataTables.min.js")
script(src="/assets/template/vendor/datatables/dataTables.bootstrap4.min.js")
script(type="module" src="/assets/javascript/return.js")